extends ./layout

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Proyecto
            span.font-normal Universidad
        h2.text-center.text-2xl.font-extrabold= pagina

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                // El formulario es de tipo POST, pero se usa method-override para enviar PUT
                form(method='POST' action=`/estudiantes/modificarEstudiante/${estudiante.id}?_method=PUT` noValidate onsubmit="return validarFormulario()")
                    // Campo oculto para method-override
                    input(type="hidden" name="_method" value="PUT")

                    div.mb-4
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="dni") DNI
                        input#dni.w-full.px-3.py-2.border.border-gray-300.rounded-md(placeholder="DNI" type="text" name="dni" value=estudiante.dni)

                    div.mb-4
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="nombre") Nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md(placeholder="Nombre" type="text" name="nombre" value=estudiante.nombre)

                    div.mb-4
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="apellido") Apellido
                        input#apellido.w-full.px-3.py-2.border.border-gray-300.rounded-md(placeholder="Apellido" type="text" name="apellido" value=estudiante.apellido)

                    div.mb-4
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md(placeholder="Email" type="email" name="email" value=estudiante.email)

                    button(type='submit', class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition-all mt-4") Guardar Cambios

block scripts
    script.
        function validarFormulario() {
            const dni = document.getElementById('dni').value.trim();
            const nombre = document.getElementById('nombre').value.trim();
            const apellido = document.getElementById('apellido').value.trim();
            const email = document.getElementById('email').value.trim();

            return true;
        }
